AllowShortBlocksOnASingleLine: false
AllowShortFunctionsOnASingleLine: true
AllowShortLoopsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: true
IndentWidth: 2
MaxEmptyLinesToKeep: 0
SortIncludes: false
